.main {
  height: 100vh;
  height: 100dvh;
  height: 100svh;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.spfForm {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.spfForm__title {
  text-align: center;
  font-weight: 500;
}

.spfForm__input {
  border-radius: 10px;
  padding: 10px 20px;
}

.spfForm__btn {
  border: 0;
  align-self: center;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 700;
}

.results {
  align-self: stretch;
  padding-inline: 20px;
}
